= form_with(form_options({model: resource,
                          scope: resource_name,
                          class: "text-gray-600",
                          local: :true,
                          method: :put,
                          url: registration_path(resource_name)})) do |f|

  = field_wrapper_for(f.object, :email) do
    = f.label :email
    = f.email_field :email, autofocus: true

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}

  = field_wrapper_for(f.object, :current_password) do
    = f.label :current_password, 'Current Password'
    %i (we need your current password to confirm your changes)
    = f.password_field :current_password

  = field_wrapper_for(f.object, :edit_password) do
    = f.check_box :edit_password, data: { action: "toggle#toggle",
                                          controller: :toggle,
                                          "toggle-content-selector": "#edit_password" }
    %label
      = change_password_toggle_label

  %div#edit_password{style: "display: #{f.object.edit_password.present? ? 'block' : 'none'};"}
    = field_wrapper_for(f.object, :password) do
      = f.label :password, 'New Password'
      = f.password_field :password
      %em
        = minimum_password_length
        characters minimum

    = field_wrapper_for(f.object, :password_confirmation) do
      = f.label :password_confirmation, 'Confirm New Password'
      = f.password_field :password_confirmation

  .field.center.aligned
    = f.submit @submit_text, class: 'ui button positive huge'

.ui.divider.horizontal
  OR
.user-form
  .section.center.aligned.user-form
    %h2
      Delete My Account
    %p
      Would you like to cancel your account?

    = button_to "Delete Account",
      registration_path(resource_name),
      class: 'ui button basic large negative',
      method: :delete,
      data: { confirm: "Are you sure you would like to Delete your account? You cannot undo this action :)." }

  = link_to "Back", :back
