%h2 Sign up

= form_with(form_options({model: resource,
                          class: "text-gray-600",
                          local: :true,
                          scope: resource_name,
                          url: registration_path(resource_name)})) do |f|

  = field_wrapper_for(f.object, :email) do
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email"

  = field_wrapper_for(f.object, :password) do
    = f.label :password
    %em
      (#{minimum_password_length} characters minimum)
    = f.password_field :password, autocomplete: "new-password"

  = field_wrapper_for(f.object, :password_confirmation) do
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "new-password"

  .actions
    = f.submit "Sign up"

= render "devise/shared/links"
