- array = alert.to_a.flatten
- type = array[0]
- message = array[1]

.alert-toast.fixed.bottom-0.right-0.m-8.md:w-full.max-w-sm{:class => "w-5/6",data: { controller: :alert, target: "alert.temp" }}
  %input#footertoast.hidden{:type => "checkbox"}/
  %label.close.cursor-pointer.flex.items-start.justify-between.w-full.p-2.h-24.rounded.shadow-lg{class: type, :for => "footertoast", :title => "close"}
    %span.alert-message
      = message
    %svg.fill-current.text-white{:height => "18", :viewbox => "0 0 18 18", :width => "18", :xmlns => "http://www.w3.org/2000/svg"}
      %path{:d => "M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"}
