
- # WARNING
- # This File is coupled with a chunk of HTML used in FormController.js
- # If I Change this File, I must change that chunk of HTML and vice Versa

- if errors.present?
  .error{data: { controller: :field, target: "field.error" }}
    %ul
    - errors.each do |error|
      %li
        = error
