%h2 Log in

= form_with(form_options({model: resource,
                          class: "text-gray-600",
                          local: :true,
                          scope: resource_name,
                          url: session_path(resource_name)})) do |f|

  = field_wrapper_for(f.object, :email) do
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email"

  = field_wrapper_for(f.object, :password) do
    = f.label :password
    = f.password_field :password, autocomplete: "current-password"

  - if devise_mapping.rememberable?
    = field_wrapper_for(f.object, :remember_me) do
      = f.check_box :remember_me
      = f.label :remember_me

  .actions
    = f.submit "Log in"
= render "devise/shared/links"
