.w-full.pt-3.px-3.md:pr-2{class: "md:w-1/2 xl:w-1/3"}
  .bg-gray-800.rounded.shadow.p-8
    .flex.flex-row.items-center
      .flex-shrink.pl-2.pr-4
        %i.fa.fa-wallet.fa-2x.fa-fw.fa-inverse
          .flex-1.text-right
            %h5.text-purple-600
              = feed_source.url
            = link_to 'Show', feed_source_path(feed_source)
            = link_to 'Edit', edit_feed_source_path(feed_source)
            = form_with(form_options(model: feed_source, class: "", method: :delete)) do |f|
              = f.button "Delete", class: "flex-shrink-0 bg-purple-500 hover:bg-purple-700 border-purple-500 hover:border-purple-700 text-sm border-4 text-purple-100 py-2 px-4 rounded", target: "form.spinnerBtn"
