= form_with form_options(model: model,
                         format: auto_submit_format,
                         class: "w-full max-w-2xl") do |f|

  = field_wrapper_for(f.object, :url) do
    = f.text_field :url,
                   class: txt_field,
                   placeholder: "URL",
                   data: { action: "input->form#autoSubmit" }

    = f.button class: submit_btn, data: { target: "form.spinnerBtn" }
