!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RssReader
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    - unless @vueless
      = javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload'
  %body.dark-backround
    = render "shared/error_messages"
    %main.leading-normal.tracking-normal.text-gray-100
      = yield
